# =========================
# .NET / Visual Studio
# =========================
**/bin/**
**/obj/**
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio / Rider / VS Code
.vs/
.idea/
*.iml
.vscode/

# dotnet tools / local caches
artifacts/
TestResults/
coverage/
coverage.cobertura.xml

# NuGet / paket caches (optional; usually safe)
**/packages/
paket-files/

# ASP.NET Core
appsettings.*.json.user

# Logs
*.log

# OS
.DS_Store
Thumbs.db
/ElasticSearch/obj/**
/ElasticSearch/bin/**
/ElasticSearch/.vs
/ElasticSearch/*.user
/ElasticSearch/*.suo
/ElasticSearch/*.userosscache
/Mongo/obj/**
/Mongo/bin/**
/Postgres/obj/**
/Postgres/bin/**
/Tycoon/obj/**
/Tycoon/bin/**
